
.login_m{ 
	width:400px; 
	height:500px; 
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
}
.login_boder h2{ 
	color:#4f5d80; 
	text-transform:uppercase; 
	font-size:12px; 
	font-weight:normal; 
	margin-bottom:11px;
}
.login_boder{ 
	border-radius: 5px;
	box-shadow: 0 0 5px #aaa;
	background: #fefefe; 
	/*height:302px; */
	overflow:hidden;
}
.login_padding{ 
	padding:28px 47px 50px 47px ;
}
.login_boder input.txt_input{ 
	width:295px; 
	height:36px; 
	border:1px solid #cad2db;  
	padding:0 5px; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	line-height:36px; 
	margin-bottom:10px; 
	font-size:14px; 
	color:#717171; 
	font-family:Arial;
}
.login_boder input.txt_input2{ 
	margin-bottom:20px;}
.login_boder input.txt_input:focus{ 
	transition:border linear .2s,box-shadow linear .2s; 
	-moz-transition:border linear .2s,-moz-box-shadow linear .2s; 
	-webkit-transition:border linear .2s,-webkit-box-shadow linear .2s; 
	outline:none;border-color:rgba(173,173,173.75); 
	box-shadow:0 0 8px rgba(173,173,173,.5); 
	-moz-box-shadow:0 0 8px rgba(173,173,173,.5); 
	-webkit-box-shadow:0 0 8px rgba(173,173,173,3); 
border:1px solid #6192c8;}
.login_boder p.forgot{ 
	font-size:11px; 
	text-align:right; 
	margin-bottom:15px;
}
.login_boder p.forgot a,.login_boder p.forgot a:visited{
	color:#8c8e91;
}
.login_boder p.forgot a:hover{
	color:#206fd5;
}

.rem_sub input.sub_button{ 
	float:right; 
	width:122px; 
	height:32px; 
	border:none; 
	color:#555; 
	padding-bottom:2px; 
	font-size:14px; 
	font-weight:bold;
	border-radius: 5px;
	box-shadow: 0 0 5px #555;
}