<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>说走就走后台登录</title>
<!-- <link href="__CSS__/backend_login/style_log.css" rel="stylesheet" type="text/css"> -->
<link href="__CSS__/backend_login/login.css" rel="stylesheet" type="text/css">
<style type="text/css">
#code img{
  width: 140px;
  height: 38px;
  float: right;
}
</style>
</head>

<body class="login" mycollectionplug="bind">
<div id = 'body'>
<div class="login_m">
<!-- <div class="login_logo"><img src="__STATIC__/IMAGES/backend_login/logo.png" width="196" height="46"></div> -->
<div class="login_boder">

<div class="login_padding" id="login_model">
  <h2>用户ID</h2>
  <label>
    <input type="text" id="username" class="txt_input txt_input2" placeholder="请输入ID" value="123">
  </label>
  <h2>密码</h2>
  <label>
    <input type="password" name="textfield2" id="userpwd" class="txt_input" placeholder="***" value="000">
  </label>
  <h2>验证码</h2>
  <label>
    <input type="text" name="textfield2" id="userCode" class="txt_input" placeholder="请输入验证码" style="width: 140px;float: left;">
    <div id = 'code'>{:captcha_img()}</div>
  </label>
 
 

 
  <!-- <p class="forgot"><a id="iforget" href="javascript:void(0);">忘记密码?</a></p> -->
  <div class="rem_sub">
  <div class="rem_sub_l">
  <!-- <input type="checkbox" name="checkbox" id="save_me"> -->
   <!-- <label for="checkbox">记住我</label> -->
   </div>
    <label>
      <input type="submit" class="sub_button" name="button" id="login_btn" value="登录" style="opacity: 0.7;margin:20px;">
    </label>
  </div>
</div>

</div>
</body>
<script type="text/javascript" src = '__JS__/jquery-3.2.1.min.js'></script>
<script src="__JS__/md5.js"></script>
<script type="text/javascript">
$('#login_btn').on('click',function(){
  var data = {
    eid:'123',
    epassword:hex_md5('000'),
    code : $('#userCode').val()
  }
  $.ajax({
    url:'{:url("backend/index/login_chk")}',
    dataType:'json',
    type:'POST',
    data:data,
    success:function(res){
      // alert(res);
      console.log(res);
      if(res == 'true'){
        window.location.href = '{:url("backend/index/index")}';
      }
    }
  })
})

$.ajax({
  url:'{:url("backend/index/loginSessionChk")}',
  dataType:'json',
  type:'GET',
  success:function(res){
    // alert(res);
    console.log(res);
    if(res == 'true'){
      window.location.href = '{:url("backend/index/index")}';
    }
  }
})
</script>
</html>