<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>wangEditor demo list</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/public.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/travels.css">
    <script src="__STATIC__/layui/layui.js"></script>
    <script type="text/javascript" src = '__JS__/wangEditor.js'></script>
    <script type="text/javascript" src = '__JS__/jquery-3.2.1.min.js'></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>信息流 - 滚动加载</legend>
</fieldset>

<ul class="flow-default" id="LAY_demo1"></ul>
<ul class="flow-default" style="height: 300px;" id="LAY_demo2"></ul>
</body>
<script>



        layui.use('flow', function(){
            var flow = layui.flow;
            flow.load({
                elem: '#LAY_demo1' //流加载容器
                ,scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
                ,done: function(page, next){ //执行下一页的回调
                    var limit = 5;
                    var pages;
                    var data;
                    //limit 一页显示条数；page 当前页；pages 总页数
                    $.ajax({
                        url:"../travels/countTravel",
                        dataType:"json",
                        type:"post",
                        data:{limit:limit,page:page},
                        success:function (res) {
                            console.log(res);
                            pages = res.pages;
                            data = res.data;
                        }
                    });
                    //模拟数据插入
                    setTimeout(function(){
                        var lis = [];
                        for(var i = 0; i < data.length; i++){
                            lis.push('<li>'+ data[i].title +'</li>')
                        }

                        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                        next(lis.join(''), page < pages); //假设总页数为 10
                    }, 500);
                }
            });
        });


</script>
</html>