<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__STATIC__/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<ul class="layui-timeline">
	{volist name = "orderdetails" id="value0" key="key"}
		<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">订单id</h3>
		    <p>
		      {$value0.orderid}
		    </p>
    	</div>
  	</li>
  	
  	<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">顾客id</h3>
		    <p>
		      {$value0.uid}
		    </p>
    	</div>
  	</li>
  	
  	<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">订单内容</h3>
		    <p>
		      {$value0.name}
		    </p>
    	</div>
  	</li>
	
	
	<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">订单数量</h3>
		    <p>
		      {$value0.orderqty}
		    </p>
    	</div>
  	</li>
	
	<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">订单价格</h3>
		    <p>
		      {$value0.orderprice}
		    </p>
    	</div>
  	</li>
	
	<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">订单状态</h3>
		    <p>
		      {$value0.osname}
		    </p>
    	</div>
  	</li>
	
	<li class="layui-timeline-item">
    	<i class="layui-icon layui-timeline-axis"></i>
    	<div class="layui-timeline-content layui-text">
      		<h3 class="layui-timeline-title">购买时间</h3>
		    <p>
		      {$value0.buytime}
		    </p>
    	</div>
  </li>

  	{/volist}
</ul>              
          
<script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
	
</script>

</body>
</html>